<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
     
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
     
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
</head>
 
<body>
    <h1 class="text-success text-center">Inicio de sesión</h1>
     
    <div class="container">
        <form id="login">
             
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email"
                    placeholder="Ingresa tu Email" name="email" required>
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">
                    Please fill this field
                </div>
            </div>
             
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="pass"
                    placeholder="Ingresa tu password" name="pass" minlength=8
                    required>
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">
                    Please fill this field
                </div>
            </div>
             
            <button type="button" class="btn bg-success" onclick="inicioSesion()">Log in</button>
        </form>
    </div>
    <script type="text/javascript" src="static/js/login.js"></script>

</body>
 
</html>      