<!DOCTYPE html>
<html lang="es">
    <header>
        <title>DOM javascript</title>
    </header>
    <body>
        <h1>Clientes</h1>
        <form id="cliente">
            <label for="nombre">Nombre:</label>
            <br>
            <input type="text" id="nombre" name="nombre" />
            <br>
            <label for="email">Email:</label>
            <br>
            <input type="text" id="email" name="email" />
            <br>
            <br>
            <input type="button" value ="Guardar" onclick="postCliente()"/>
        </form>

        <script type="text/javascript" src="static/js/post_cliente.js"></script>
    </body>
</html>